<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>videos_title</string>
				<key>viewController</key>
				<string>VideoList</string>
			</dict>
			<dict>
				<key>title</key>
				<string>news_title</string>
				<key>viewController</key>
				<string>RSSFeed</string>
			</dict>
			<dict>
				<key>title</key>
				<string>feedback_title</string>
				<key>viewController</key>
				<string>FeedbackController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>calendar_title</string>
				<key>viewController</key>
				<string>CalendarViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>attended_workshops_title</string>
				<key>viewController</key>
				<string>https://www.google.com/calendar/feeds/google.com_jqv7qt9iifsaj94cuknckrabd8%40group.calendar.google.com/public/basic</string>
			</dict>
		</array>
	</array>
	<key>rss_feeds</key>
	<dict>
		<key>RSSFeed</key>
		<string>http://docentes.eafit.edu.co/noticias.rss</string>
		<key>CalendarViewController</key>
		<string>https://www.google.com/calendar/feeds/iebabuvq68okvbo8f2ti7sub3s%40group.calendar.google.com/public/basic</string>
	</dict>
	<key>videos</key>
	<array>
		<dict>
			<key>date</key>
			<string>07/07/2011</string>
			<key>title</key>
			<string>Trailer Senna</string>
			<key>videoURL</key>
			<string>http://trailers.apple.com/movies/independent/senna/senna-tlr1_480p.mov</string>
		</dict>
		<dict>
			<key>date</key>
			<string>07/07/2011</string>
			<key>title</key>
			<string>Trailer Senna</string>
			<key>videoURL</key>
			<string>http://trailers.apple.com/movies/independent/senna/senna-tlr1_480p.mov</string>
		</dict>
		<dict>
			<key>date</key>
			<string>07/07/2011</string>
			<key>title</key>
			<string>Trailer Senna</string>
			<key>videoURL</key>
			<string>http://trailers.apple.com/movies/independent/senna/senna-tlr1_480p.mov</string>
		</dict>
		<dict>
			<key>date</key>
			<string>07/07/2011</string>
			<key>title</key>
			<string>Trailer Senna</string>
			<key>videoURL</key>
			<string>http://trailers.apple.com/movies/independent/senna/senna-tlr1_480p.mov</string>
		</dict>
		<dict>
			<key>date</key>
			<string>07/07/2011</string>
			<key>title</key>
			<string>Trailer Senna</string>
			<key>videoURL</key>
			<string>http://trailers.apple.com/movies/independent/senna/senna-tlr1_480p.mov</string>
		</dict>
	</array>
</dict>
</plist>
